*{
    box-sizing: border-box;
}

html,
body {
    
    height: 100%;
    width: 100%;
    margin: 0px;
		padding: 0px;
		text-align: justify;
}

body {
		background-color:#1d1d1b;
		font-family: Moderat, sans-serif;
}

img {
    max-width:100%;
		height:auto;
}

@media (max-width: 600px) {
    .container {
      flex-direction: column;
    }
  }
